
body {
    background: url(indy.jpg);
    /* background: linear-gradient(to top, #333399, #ff00cc); */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Amatic SC', cursive;
}

.container {
    background: linear-gradient(90deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    position: fixed;
    border-radius: 30px;
    top: 250px;
    padding: 100px;
    background-color: #7a63ab;
    border: 3px solid black;
    animation: Gradient 10s ease infinite;
}

.container>div {
    font-family: 'Amatic SC', cursive;
    position: relative;
    font-size: 100px;
    word-spacing: 60px;
    text-align: center;
    width: 1200px;
    margin: 10px;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.picture {
    border: 3px solid black;
    background: url(profile.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    z-index: 1;
    margin: auto;
    position: fixed;
    left: 553px;
    top: 40px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
li {
    list-style: none;
}
#home {
    background: url(home-icon2.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: fixed;
    top: 540px;
    right: 1110px;
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
}
#about {
    background: url(about-icon1.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: fixed;
    top: 540px;
    right: 820px;
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
}


#about:hover {
    background: url(about-icon2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 110px;
    height: 110px;
}

#port {
    background: url(port-icon1.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: fixed;
    top: 540px;
    right: 550px;
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
}

#port:hover {
    background: url(port-icon2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 110px;
    height: 110px;
}

#contact {
    background: url(contact-icon1.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: fixed;
    top: 540px;
    right: 220px;
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
}

#contact:hover {
    background: url(contact-icon2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 110px;
    height: 110px;
}